:host {
  display: block;

  mat-divider {
    width: calc(100% - 64px);
    margin: 0 32px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-datepicker {
  margin-top: 20px;
  font-size: 13px;
  margin-right: 13px;
}

mat-checkbox {
  margin-right: 25px;
}

mat-toolbar {
  width: 100%;
  background-color: transparent;
}

