.d-flex {
  display: flex;
  justify-content: center;
}

.my-card {
  text-align: center;
  padding: 32px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-card-title {
  margin-bottom: 32px;
}

.full-width {
  width: 100%;
}

.d-inline-grid {
  display: inline-grid;
}

.mat-form-field {
  margin-bottom: 5px;
}
