<div class="d-flex">
  <mat-card *ngIf="toDoList">
    <mat-card-header>
      <mat-card-title>{{toDoList.name}}</mat-card-title>
      <div class="correction-column">
        <button mat-icon-button aria-label="edit" class="edit-btn" (click)="editToDoList()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete" class="del-btn" (click)="deleteToDoList()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <app-tasks [toDoListId]="toDoList.id"></app-tasks>
  </mat-card>
</div>
