:host  {
  display: block;
}

div {
  padding: 16px;
  text-align: center;
}

.toDoCard {
  background-color: #4e4d4d;
  margin: 16px 100px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-card-title {
    margin-bottom: 0;
  }
}

.correction-column {
  padding-top: 0;
}



