:host {
  display: block;
  margin: 32px 400px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-card-title {
    margin-bottom: 0;
  }
}

.correction-column {
  padding-top: 0;
}



